body,textarea
{
	font-family: Georgia, serif;
	font-size: 100%;
	font-weight: 200;
	line-height: 1.5em;
}

a:link {
	font-family: Georgia, serif;
	color: #3ca5b5;
	text-decoration: none;
}
	a:visited {
	font-family: Georgia, serif;
	color: #3ca5b5;
	text-decoration: none;
}
a:hover {
	font-family: Georgia, serif;
	color: #0320F3;
	text-decoration: none;
}

h1
{
	font-family: Gabriola, serif;
      	font-weight: 600;
      	font-size: 500%;
      	color: #525252;
      	line-height: 1em;
}
      
.container 
{
	font-family: Georgia, serif;
	text-align: left;
	font-size: 100%;
    	margin-bottom: 5%;
}
