body,textarea
{
	font-family: Georgia, serif;
	font-size: 100%;
	font-weight: 300;
	line-height: 1.5em;
}


a:link {
	font-family: Georgia, serif;
	color: #49DFFC;
	text-decoration: none;
}
	a:visited {
	font-family: Georgia, serif;
	color: #49DFFC;
	text-decoration: none;
}
a:hover {
	font-family: Georgia, serif;
	color: #6200FF;
	text-decoration: none;
}

h1
{
	font-family: Georgia, serif;
      	font-weight: 400;
      	font-size: 250%;
      	color: #545454;
      	line-height: 1em;
}
      
.container 
{
	font-family: Georgia, serif;
	text-align: left;
    	width: 1200px;
    	margin-bottom: 5%;
}
