body,textarea
{
	font-family: Georgia, serif;
	font-size: 100%;
	font-weight: 200;
	line-height: 2em;
}

a:link {
	font-family: Georgia, serif;
	color: #3ca5b5;
	text-decoration: none;
}
	a:visited {
	font-family: Georgia, serif;
	color: #3ca5b5;
	text-decoration: none;
}
a:hover {
	font-family: Georgia, serif;
	color: #ab030e;
	text-decoration: none;
}

h1
{
	font: 50px/0.8 'Brush Script MT', cursive;
	color: #153659;
	text-shadow: 4px 3px 3px rgba(0,0,0,0.3);
}
      
.container 
{
	font-family: Georgia, serif;
	text-align: left;
	font-size: 100%;
    	margin-bottom: 10%;
}
